<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navbarone') %>
    <%- include('./partials/aboutforum') %>



    <%- include('./partials/ScrollTopButton') %>
    <%- include('./partials/footer') %>
    
</body>
</html>