<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<%- include('./dashbordpartials/dlinks') %>

    <body>
      
      <div class='dashboard'>
        <%- include('./dashbordpartials/sidebar') %>
          <div class='dashboard-app'>




            <%- include('./dashbordpartials/navbar') %>






              <div class='dashboard-content'>
                <div class='container'>
                  <div class='card'>
                    <div class='card-header'>
                      <h2 class="fw-semibold forum-primary-color-1 py-3">Création d'un utilisateur</h2>
                    </div>


                    <div class="card-body">
                      <div class="col-12">
                        <div class="row justify-content-xl-center">
                          <div class="col-12 col-xl-11">
                            <div class=" overflow-hidden">
                              <form id="ContactSectionForm" action="usersadd" method="post">
                                <div class="row">




                                  <div class="col-12 col-md-6">
                                    <label for="name" class="form-label fw-medium">Nom :<span
                                        class="text-danger">*</span></label>
                                    <input type="text" class="form-control fw-medium" id="name" name="name" required
                                      value="">
                                  </div>


                                  <div class="col-12 col-md-6">
                                    <label for="firstname" class="form-label fw-medium">Prénom :<span
                                        class="text-danger">*</span></label>
                                    <input type="text" class="form-control fw-medium" id="firstname" name="firstname"
                                      required value="">
                                  </div>


                                  <div class="col-12 col-md-6">
                                    <label for="email" class="form-label fw-medium">Adresse e-mail :<span
                                        class="text-danger">*</span></label>
                                    <div class="input-group">
                                      <span class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                          fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                          <path
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z">
                                          </path>
                                        </svg>
                                      </span>
                                      <input type="email" class="form-control" id="email" name="email" required autocomplete="Adresse e-mail">
                                    </div>
                                  </div>

                                  <div class="col-12 col-md-6">
                                    <label for="password" class="form-label fw-medium">Mot de passe :<span
                                        class="text-danger">*</span></label>
                                    <div class="input-group">
                                      <span class="input-group-text cursor-pointer" onclick="passwordstate(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                          viewBox="0 0 24 24">
                                          <path fill="currentColor"
                                            d="M6.615 21q-.67 0-1.143-.472Q5 20.056 5 19.385v-8.77q0-.67.472-1.143Q5.944 9 6.615 9H8V7q0-1.671 1.164-2.836T12 3q1.671 0 2.836 1.164T16 7v2h1.385q.67 0 1.143.472q.472.472.472 1.143v8.77q0 .67-.472 1.143q-.472.472-1.143.472H6.615Zm0-1h10.77q.269 0 .442-.173t.173-.442v-8.77q0-.269-.173-.442T17.385 10H6.615q-.269 0-.442.173T6 10.615v8.77q0 .269.173.442t.442.173ZM12 16.5q.633 0 1.066-.434q.434-.433.434-1.066t-.434-1.066Q12.633 13.5 12 13.5t-1.066.434Q10.5 14.367 10.5 15t.434 1.066q.433.434 1.066.434ZM9 9h6V7q0-1.25-.875-2.125T12 4q-1.25 0-2.125.875T9 7v2ZM6 20V10v10Z" />
                                        </svg>
                                      </span>
                                      <input type="password" id="password" class="form-control" name="password" required
                                      autocomplete="Mot de passe">
                                    </div>
                                  </div>

                                  <div class="col-12 col-md-6">
                                    <label for="position" class="form-label fw-medium">Position :<span
                                        class="text-danger">*</span></label>
                                    <div class="input-group">
                                      <div class="input-group-text">
                                        <i class="fas fa-caret-down"></i>
                                      </div>
                                      <select id="position" class="form-control fw-medium" name="position" required>
                                        <option value="Admin">Administrateur</option>
                                        <option value="User" selected>Utilisateur</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <label for="phone" class="form-label fw-medium">Numéro de téléphone
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                          fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                          <path
                                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                                          </path>
                                        </svg>
                                      </span>
                                      <input type="tel" class="form-control" id="phone" name="mobile" value="">
                                    </div>
                                  </div>


                                  <div class="nav-item-divider"></div>

                                  <div class="col-12">
                                    <div class="d-grid">
                                      <input class="btn forum-primary-background-color-1 forum-color-white btn-lg"
                                        type="submit" value="Créer un utilisateur">
                                    </div>
                                    <p class="fw-medium"><span class="text-danger ">*</span> Champs
                                      obligatoires</p>
                                  </div>
                                  <div class="col-12">
                                    <% if ((typeof errors!=="undefined" ) && (errors.length> 0)) { %>
                                      <div class="alert alert-danger" role="alert">
                                        <ul>
                                          <li>
                                            <%= errors %>
                                          </li>
                                        </ul>
                                      </div>
                                      <% } %>
                                  </div>
                                  <div class="col-12">
                                    <% if ((typeof donemsg!=="undefined" ) && (donemsg.length> 0)) { %>
                                      <div class="alert alert-success" role="alert">
                                        <ul>
                                          <li>
                                            <%= donemsg %>
                                          </li>
                                        </ul>
                                      </div>
                                      <% } %>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </body>
    <%- include('./links') %>
      <%- include('./dashbordpartials/footer') %>

</html>